/*
font-family: "Open Sans", sans-serif;
font-family: "Alfa Slab One", serif;
*/

h1, h2 {
    font-family: "Alfa Slab One", cursive;
}
.hero{
    background: url(../M2U3/img/car.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: white;
}
.servicios{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
.card-body{
    padding: 20px;
}
.servicios-cards{
    text-align: center;
    /*
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    */
}

