.row{
    height: 35px;
}
.col{
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top: 6px;
}
#shopbar{
    height: 55px;
}
#freres{
    padding-top: 9px;
    align-items: center;
    text-align: center;
}
.container{
    height: 500px;
}